@charset "UTF-8";

* { margin: 0; padding: 0; font-size: 14px;
	font-family: "DejaVu Sans", sans-serif; color: black }
body { background: #ccc }
p, pre, h2 { margin: 14px 0 }
a { color: #004 }
i { color: #040 }
img { border: none }
ul { list-style: none }
pre { white-space: pre-wrap }
sup, sup * { font-size: 9px }
pre, code { font-family: "DejaVu Sans Mono", monospace;
	font-size: 13px; color: #400 }
h1 { font-size: 18px; color: #222; margin: 0 0 14px 0 }
h2 { font-size: 14px; }
input { border: 1px solid #444; background: #fff; padding: 2px 5px;
	border-radius: 4px; -moz-border-radius: 4px }
input[type="submit"] { background: #ddd; padding: 2px 15px }
input[type="submit"]:hover { background: #888 }

div#page { margin: 20px auto; width: 932px; background: #dde;
	border-radius: 15px; -moz-border-radius: 15px;
	border: 5px solid #fff; box-shadow: 0 0 50px rgba(0,0,0,0.2) }

div#header { color: #88a; font-size: 50px; padding: 30px 41px }

div#langs { margin-bottom: 20px }
div#langs img { border: 1px solid #fff }
div#langs a { text-decoration: none }

div#rightcolumn { float: right; width: 185px;
	overflow: hidden; margin-right: 41px }
div#rightcolumn * { font-size: 12px }

div#leftcolumn { width: 642px; overflow: hidden;
	margin-left: 41px }

div#article { line-height: 18px; margin-bottom: 20px }

div.jswarning { font-weight: bold; border: 1px solid #800;
	background: #faa; padding: 25px; font-size: 20px; margin-bottom: 20px }

div#article img { margin: 2px 15px 10px 0; float: left;
	max-width: 640px; max-height: 640px; border: 1px solid #fff }
div#articleend, div#article h1, div#article h2,
	div#article pre, div#article p { clear: left }

ul#subs { margin-right: -30px }
ul#subs li { display: inline-block; vertical-align: top;
	width: 145px; padding: 0 20px 20px 0; overflow: hidden }
ul#subs img { display: block; border: 1px solid #fff;
	text-decoration: none; margin-bottom: 4px }

div#footer { text-align: center; padding-bottom: 20px }
div#footer * { font-size: 11px; color: #6f5e50 }
div#footer span { margin: 8px 6px }
