
body {
    background: #ccc;
}

div#page {
    margin: 20px auto;
    width: 950px;
    background: #dde;
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: 5px solid #fff;
    box-shadow: 0 0 80px rgba(0,0,0,0.3);
    overflow: hidden;
}

div#header {
    padding: 30px 41px 15px 41px;
}

div#header * {
    color: #88a;
    font-size: 50px;
    text-decoration: none;
}

div#rightcolumn {
    font-size: 12px;
    float: right;
    width: 185px;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 41px;
    margin-bottom: 31px;
}

div#rightcolumn * {
    font-size: 12px;
    text-decoration: none;
}

div#langs {
    margin-bottom: 20px;
}

div#langs img {
    border: 1px solid #fff;
}

div#leftcolumn {
    width: 642px;
    overflow: hidden;
    margin-left: 41px;
    margin-bottom: 11px;
}

div#title h1 {
    margin-top: 15px;
}

div#title span {
    float: left;
    margin-top: 3px;
    padding-right: 2px;
}

div#title span:after {
    content:" » ";
}

div#article {
    line-height: 18px;
}

div#article p, div#article h1, div#article h2 {
    margin-top: 15px;
}

div.jswarning {
    font-weight: bold;
    border: 1px solid #800;
    background: #faa;
    padding: 25px;
}

div#article img {
    margin: 0 11px 11px 0;
    float: left;
    max-width: 640px;
    max-height: 480px;
    border: 1px solid #fff;
}

div#article h1, div#article h2, div#article pre, div#article p {
    clear: left;
}

ul#subs {
    padding-top: 15px;
}

ul#subs li {
    display: inline-block;
    vertical-align: top;
    width: 147px;
    margin: 0px 11px 30px 0;
    overflow: hidden;
}

ul#subs img {
    display: block;
    border: 1px solid #fff;
    margin-bottom: 4px;
}

div#footer {
    margin: 0 auto;
    width: 950px;
    text-align: center;
    padding-bottom: 20px;
}

div#footer, div#footer * {
    font-size: 11px;
    color: #6f5e50;
    text-decoration: none;
}

div#footer span {
    margin: 8px 6px;
}
